
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_LayoutAlertsAdmin.cshtml";
}


<div id="nav" class="container-fluid center-block">
    <div id="logo"></div>
    <div id="mapIcon" class="mapIcon_in" data-toggle="tooltip" data-placement="left" title="Map"></div>
    <div id="alertsIcon" class="alertsIcon_in" data-toggle="tooltip" data-placement="bottom" title="Alerts"></div>
    <div id="geofenceIcon" class="geofenceIcon_in" data-toggle="tooltip" data-placement="left" title="Disabled"></div>
    <div id="appsIcon" class="appsIcon_in" data-toggle="tooltip" data-placement="top" title="Disabled"></div>
    <div id="diagnosticsIcon" class="diagnosticsIcon_in" data-toggle="tooltip" data-placement="right" title="Scheduling"></div>
    <div id="analyticsIcon" class="analyticsIcon_in" data-toggle="tooltip" data-placement="right" title="Analytics"></div>
    <div id="adminIcon" class="adminIcon_in" data-toggle="tooltip" data-placement="right" title="Administration"></div>
    <div id="profileDiv" class="profileDiv_in">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
            @Html.AntiForgeryToken()
            <ul class="list-group small">
                <li class="list-group-item"><a href="" class="text-left" style="padding: 5px;" id="userNameRole"></a><br /></li>
                <li class="list-group-item"><a href="" class="text-left" style="padding: 5px;"><i class="glyphicons glyphicons-bell"></i> Notifications<span class="badge" style="margin-left: 5px;">3</span></a><br /></li>
                <li class="list-group-item"><a href="" class="text-left" style="padding: 5px;"><i class="glyphicons glyphicons-question-sign"></i> Help</a></li>
                <li class="list-group-item"><a href="javascript:document.getElementById('logoutForm').submit()" style="padding: 5px;"><i class="glyphicons glyphicons-exit"></i> Log off</a></li>
            </ul>
        }
    </div>
</div>

<div class="container-fluid col-lg-10 col-lg-offset-1">
    <h1 class="text-right alertsPageHeader"><strong>Alerts Engine </strong></h1>
    <div id="alertsDiv" class="container-fluid"></div>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel"><i class="glyphicons glyphicons-light-beacon"></i>  Create/Edit Alert</h3>
                </div>
                <div class="modal-body" id="myWizard">

                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: 20%;">
                            Step 1 of 5
                        </div>
                    </div>
                    <div class="navbar">
                        <div class="navbar-inner">
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#step1" data-toggle="tab" data-step="1">Chose Alert Class</a></li>
                                <li><a href="#step2" data-toggle="tab" data-step="2">Assign Polygon</a></li>
                                <li><a href="#step3" data-toggle="tab" data-step="3">Assign Vehicle(s)</a></li>
                                <li><a href="#step4" data-toggle="tab" data-step="4">Assign Values</a></li>
                                <li><a href="#step5" data-toggle="tab" data-step="5">Review and Submit</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="step1">
                            <div class="well container-fluid" id="step1well">
                                <form class="form-inline text-center" id="alertNameFormGroup">
                                    <div class="form-group">
                                        <label class="sr-only" for="alertName">Alert Name:</label>
                                        <input type="text" class="form-control" id="alertName" placeholder="Alert Name">
                                    </div>
                                    @*<div class="form-group">
                                            <input class="always" id="always" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-size="small" data-on="Always Active" data-off="Active Date/Time" data-width="135">
                                        </div>*@
                                    <div class="form-group">
                                        <label class="sr-only" for="startDate">Start Date:</label>
                                        <input type="text" class="form-control" id="startDate" placeholder="Start Date">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="endDate">End Date:</label>
                                        <input type="text" class="form-control" id="endDate" placeholder="End Date">
                                    </div><br />
                                    <small><em>Note: alert will be active from this time for 5 years if no start and end date are given.</em></small><br /><br />
                                </form>
                                <div id="alertClassDiv"></div>
                            </div>
                            @*<a class="btn btn-default next" href="#">Continue</a>*@
                        </div>
                        <div class="tab-pane fade" id="step2">
                            <div class="well" id="step2well"></div>
                            <a class="btn btn-default nnext" href="#">Continue</a>
                        </div>
                        <div class="tab-pane fade" id="step3">
                            <div class="well" id="step3well">
                                <div id="step3well">
                                    <div id="vehicTableLoading" class="text-center"></div>
                                    <div id="vehicTable"></div>
                                </div>
                            </div>
                            <a class="btn btn-default nnnext" href="#">Continue</a>
                        </div>
                        <div class="tab-pane fade" id="step4">
                            <div class="well" id="step4well">
                                <div id="step4DivLoading" class="text-center"></div>
                                <div id="step4Div"></div>
                            </div>
                            <a class="btn btn-default nnnnext" href="#">Continue</a>
                        </div>
                        <div class="tab-pane fade" id="step5">
                            <div class="well" id="step5well">
                                <div id="step5Div"></div>
                            </div>
                            <a class="btn btn-success" id="submitAlert" href="#">Submit</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal" aria-hidden="true" id="cancelCreateAlert">Cancel</button>
                    <button class="btn btn-danger hidden" aria-hidden="true" id="deleteAlert">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#startDate').datetimepicker();

    $('#endDate').datetimepicker();

    function queryParams() {
        return {
            type: 'owner',
            sort: 'updated',
            direction: 'desc',
            per_page: 25,
            page: 1
        };
    }

    function dateFormat(value, row, index) {
        if (value != "/Date(978332400000)/") {
            return moment(value).add(moment().utcOffset(), 'minutes').format('MM/DD/YYYY HH:mm');
        } else {
            return "N/A";
        }
    }

    function toggler(value, row, index) {
        if (value == true) {
            return '<input class="tog" id="' + row.AlertID + '" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-size="small">';
        } else {
            return '<input class="tog" id="' + row.AlertID + '" type="checkbox" data-toggle="toggle" data-onstyle="success" data-size="small">';
        }
    }

    function editBtn(value, row, index) {
        return '<button type="button" class="btn btn-default btn-xs glyphicons glyphicons-pencil editAlertBtn" id="' + row.AlertID + '"></button>';
    }
</script>