@using Base_AVL.Common
@{
    ViewBag.Title = "Vehicle Locations";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<link href="~/Content/Slider/component.css" rel="stylesheet" />
<link href="~/Content/Slider/icons.css" rel="stylesheet" />
<link href="~/Content/Slider/normalize.css" rel="stylesheet" />
<script src="~/Scripts/nanobar/nanobar.min.js"></script>

<div id="st-container" class="st-container">
    <div id="map"></div>

    @*content push wrapper*@
    <div class="st-pusher">
        <nav class="st-menu st-effect-14" id="menu-14">
            <h2 class="glyphicons glyphicons-filter">&nbsp;Filter</h2>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default" id="companyFilterDivHeader">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Company
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Company">
                        <div class="panel-body" id="companyFilterDiv">

                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="classFilterDivHeader">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Vehicle Class
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Vehicle Class">
                        <div class="panel-body" id="classFilterDiv">
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="driverFilterDivHeader">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Drivers
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Drivers">
                        <div class="panel-body" id="driverFilterDiv">
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="glyphicons glyphicons-drop">&nbsp;Geo-Fences</h2>
            <div class="btn-group col-sm-offset-1" data-toggle="buttons">
                <label id="lbl_GF" class="btn btn-danger">
                    <input id="showHideGF" type="checkbox" autocomplete="off"><span id="showHideGFTxt">Show Geo-Fences</span>
                </label>
            </div>
            <br /><br />
            <div class="btn-group col-sm-offset-1" data-toggle="buttons">
                <label class="btn btn-danger">
                    <input id="drawOnOff" type="checkbox" autocomplete="off"><span id="drawOnOffTxt">Create Geo-Fences</span>
                </label>
            </div>
            <br /><br />
            <h2 class="glyphicons glyphicons-headset">&nbsp;Dispatch</h2>
            <div class="form-group col-sm-12">
                <input class="form-control" id="Address" placeholder="-- Address --">
                <input class="form-control" id="City" placeholder="-- City --">
                @Html.DropDownList("State", Utilities.GetStateList(), "-- Select a State --", new { @class = "form-control" })
                <input class="form-control" id="Zip" placeholder="-- Zip --">
                <br />
                <button class="btn btn-danger col-sm-offset-3" id="SubmitDispatch">Find Location</button>
            </div>
        </nav>

        <div class="st-content">
            <!-- this is the wrapper for the content -->
            <div class="st-content-inner">
                <div class="main clearfix">
                    <div id="st-trigger-effects" class="column">
                        <button class="btn btn-danger mapMenu glyphicons glyphicons-cadastral-map" data-effect="st-effect-14" style="font-size:24px"></button>
                    </div>
                </div><!-- /main -->
            </div><!-- /st-content-inner -->
        </div><!-- /st-content -->

    </div>
</div>

@section scripts{
    <script src="~/Scripts/VehicleLocation/Map.js"></script>
    <script src="~/Scripts/Slider/classie.js"></script>
    <script src="~/Scripts/Slider/sidebarEffects.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkyxzsMHs1COuqcUEkPKiHY2289J0LG-4&libraries=drawing" async defer></script>
}

