@{
    ViewBag.Title = "Fleet Management";
    Layout = "~/Views/Shared/_LayoutMap.cshtml";
}

<div id="nav" class="container-fluid center-block">
    <div id="logo"></div>
    <div id="mapIcon" class="mapIcon_in" data-toggle="tooltip" data-placement="left" title="Map"></div>
    <div id="alertsIcon" class="alertsIcon_in" data-toggle="tooltip" data-placement="left" title="Alerts"></div>
    <div id="geofenceIcon" class="geofenceIcon_in" data-toggle="tooltip" data-placement="left" title="Geofence"></div>
    <div id="appsIcon" class="appsIcon_in" data-toggle="tooltip" data-placement="bottom" title="Applications"></div>
    <div id="diagnosticsIcon" class="diagnosticsIcon_in" data-toggle="tooltip" data-placement="right" title="Scheduling"></div>
    <div id="analyticsIcon" class="analyticsIcon_in" data-toggle="tooltip" data-placement="right" title="Analytics"></div>
    <div id="adminIcon" class="adminIcon_in" data-toggle="tooltip" data-placement="right" title="Administration"></div>
    <div id="profileDiv" class="profileDiv_in">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
            @Html.AntiForgeryToken()
            <ul class="list-group small">
                <li class="list-group-item"><a href="" class="text-left" style="padding: 5px;" id="userNameRole"></a><br /></li>
                <li class="list-group-item"><a href="" class="text-left" style="padding: 5px;"><i class="glyphicons glyphicons-bell"></i> Notifications<span class="badge" style="margin-left: 5px;">3</span></a><br /></li>
                <li class="list-group-item"><a href="" class="text-left" style="padding: 5px;"><i class="glyphicons glyphicons-question-sign"></i> Help</a></li>
                <li class="list-group-item"><a href="javascript:document.getElementById('logoutForm').submit()" style="padding: 5px;"><i class="glyphicons glyphicons-exit"></i> Log off</a></li>
            </ul>
        }
    </div>
</div>

<div id="container" class="container-fluid">
    <div id="map"></div>
</div>

<div id="mySidenav" class="sidenav">
    <a href="#" id="closebtn">&times;</a>
    <select id="vehicleList" class="form-control vList"></select>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false" style="padding-left: 5px; padding-right: 5px;">
        <div class="panel panel-black">
            <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        <span class="glyphicons glyphicons-screenshot" style="margin: 0px 15px 0px 0px; font-size:1.2em; color: #ffffff;"></span>Vehicle Information
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body" id="info_panel"></div>
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span class="glyphicons glyphicons-alert" style="margin: 0px 15px 0px 0px; font-size:1.2em; color: #ffffff;">
                        </span>Alerts<span class="badge" id="alertNumb" style="margin-left: 10px;">0</span>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body text-center" id="alert_panel"></div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <span class="glyphicons glyphicons-radar" style="margin: 0px 15px 0px 0px; font-size:1.2em; color: #ffffff;"></span>Playback
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body" id="playback_panel"></div>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <span class="glyphicons glyphicons-vector-path-polygon" style="margin: 0px 15px 0px 0px; font-size:1.2em; color: #fFFFFF;"></span>GeoFence Controls
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body" id="geofence_panel">
                    <div class="geofenceDiv devider col-sm-12">
                        <label class="control-label">
                            Show / Create Geofences &nbsp;&nbsp;&nbsp;
                            <input id="gd_show" type="checkbox" data-toggle="toggle">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </label>
                    </div>
                    <div class="collapse devider col-sm-12 geoInfoDiv" id="geoInfoDiv">
                        <div class="form-horizontal">
                            <div class="form-group" style="padding-top: 10px;">
                                <label id="lblPolyName" class="control-label col-sm-3">Fence Name: </label>
                                <div class="col-sm-9">
                                    <input type="text" id="polyName" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group" style="padding-top: 10px;">
                                <label id="lblPolyNotes" class="control-label col-sm-3">Fence Notes: </label>
                                <div class="col-sm-9">
                                    <textarea id="polyNotes" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="fenceAlertInfo" class=""></div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button id="deletePolygon" type="button" class="btn btn-danger hidden" style="margin-right: 10px;">Delete Fence</button>
                            <button id="savePolygon" type="button" class="btn btn-info hidden">Save changes</button>
                            <button id="deleteNewPolygon" type="button" class="btn btn-danger hidden" style="margin-right: 10px;">Delete Fence</button>
                            <button id="saveNewPolygon" type="button" class="btn btn-info hidden">Save Fence</button>
                            <input type="hidden" id="geoFenceID" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary" id="collapseSixPanel">
            <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        <span class="glyphicons glyphicons-user-key" style="margin: 0px 15px 0px 0px;"></span>Driver
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body" id="driver_panel">
                    <div class="col-sm-4">
                        <span class="glyphicons glyphicons-user-key" style="font-size: 146px;"></span>
                    </div>
                    <div class="col-sm-8">
                        <h5>Driver Name</h5>
                        <i class="glyphicons glyphicons-star"></i>
                        <i class="glyphicons glyphicons-star"></i>
                        <i class="glyphicons glyphicons-star"></i>
                        <i class="glyphicons glyphicons-star"></i>
                        <i class="glyphicons glyphicons-star"></i>
                    </div>
                    <div class="col-sm-12 text-left">
                        <dl class="dl-horizontal text-left" id="driverInfo">
                            <dt>E-mail:</dt>
                            <dd>drivername@company.com</dd>
                            <dt>Status:</dt>
                            <dd>Driver Status</dd>
                        </dl>
                        <hr />
                        <p>Negative Driver Behavior Triggers</p>
                        <table id='dbTable' class='table table-hover table-bordered table-responsive table-striped table-condensed'>
                            <thead>
                                <tr>
                                    <td class='header'>Trigger</td>
                                    <td class='header'>Date/Time</td>
                                    <td class="header">Edit</td>
                                </tr>
                            </thead>
                            @*These are just placeholders. Need to be removed*@
                            <tbody>
                                <tr>
                                    <td>Hard Acceleration</td>
                                    <td>2/27/2017  07:43</td>
                                    <td class="text-center"><button type="button" class="btn btn-default btn-xs glyphicons glyphicons-pencil" id=""></button></td>
                                </tr>
                                <tr>
                                    <td>Hard Braking</td>
                                    <td>2/27/2017  07:40</td>
                                    <td class="text-center"><button type="button" class="btn btn-default btn-xs glyphicons glyphicons-pencil" id=""></button></td>
                                </tr>
                                <tr>
                                    <td>Hard Right Turn</td>
                                    <td>2/27/2017  07:33</td>
                                    <td class="text-center"><button type="button" class="btn btn-default btn-xs glyphicons glyphicons-pencil" id=""></button></td>
                                </tr>
                                <tr>
                                    <td>Hard Left Turn</td>
                                    <td>2/27/2017  07:12</td>
                                    <td class="text-center"><button type="button" class="btn btn-default btn-xs glyphicons glyphicons-pencil" id=""></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-success" id="collapseSevenPanel">
            <div class="panel-heading" role="tab" id="headingSeven">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                        <span class="glyphicons glyphicons-stethoscope" style="margin: 0px 15px 0px 0px;"></span>Diagnostics
                    </a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                <div class="panel-body" id="diagnostics_panel">
                    <h4>FORD  | E-350 Super Duty  | 2015</h4>
                    <small>
                        <table id='dbTable' class='table table-hover table-bordered table-responsive table-striped table-condensed'>
                            <thead>
                                <tr>
                                    <td class='header'>PID</td>
                                    <td class='header'>Desc</td>
                                    <td class='header'>2/27/2017  012:17</td>
                                    <td class="header">1/27/2017  012:22</td>
                                    <td class="header">12/27/2016  012:07</td>
                                </tr>
                            </thead>
                            @*These are just placeholders. Need to be removed*@
                            <tbody>
                                <tr>
                                    <td>P003</td>
                                    <td>Fuel System</td>
                                    <td>02</td>
                                    <td>02</td>
                                    <td>02</td>
                                </tr>
                                <tr>
                                    <td>P005</td>
                                    <td>Engine Coolant Temp</td>
                                    <td>115 &#176;C</td>
                                    <td>105 &#176;C</td>
                                    <td>121 &#176;C</td>
                                </tr>
                                <tr>
                                    <td>P00A</td>
                                    <td>Fuel Pressure</td>
                                    <td>524</td>
                                    <td>324</td>
                                    <td>522</td>
                                </tr>
                                <tr>
                                    <td>P00B</td>
                                    <td>Intake Manifold Pres</td>
                                    <td>212</td>
                                    <td>234</td>
                                    <td>220</td>
                                </tr>
                                <tr>
                                    <td>P00C</td>
                                    <td>Engine RPM</td>
                                    <td>13,687.11</td>
                                    <td>12,223.04</td>
                                    <td>12,523.75</td>
                                </tr>
                                <tr>
                                    <td>P00F</td>
                                    <td>Intake air temperature</td>
                                    <td>78</td>
                                    <td>55</td>
                                    <td>65</td>
                                </tr>
                                <tr>
                                    <td>P05C</td>
                                    <td>Engine oil temperature</td>
                                    <td>185</td>
                                    <td>165</td>
                                    <td>188</td>
                                </tr>
                                <tr>
                                    <td>P05D</td>
                                    <td>Fuel injection timing</td>
                                    <td>102</td>
                                    <td>123</td>
                                    <td>114</td>
                                </tr>
                                <tr>
                                    <td>P010</td>
                                    <td>MAF AirFlow Rate</td>
                                    <td>566</td>
                                    <td>476</td>
                                    <td>547</td>
                                </tr>
                                <tr class="danger">
                                    <td>P011</td>
                                    <td>Oxygen Sensor 1</td>
                                    <td>-67</td>
                                    <td>-89</td>
                                    <td>-59</td>
                                </tr>
                                <tr>
                                    <td>P012</td>
                                    <td>Oxygen Sensor 2</td>
                                    <td>143</td>
                                    <td>156</td>
                                    <td>132</td>
                                </tr>
                                <tr>
                                    <td>P013</td>
                                    <td>Oxygen Sensor 3</td>
                                    <td>211</td>
                                    <td>206</td>
                                    <td>198</td>
                                </tr>
                                <tr>
                                    <td>P014</td>
                                    <td>Oxygen Sensor 4</td>
                                    <td>155</td>
                                    <td>167</td>
                                    <td>153</td>
                                </tr>
                                <tr>
                                    <td>P015</td>
                                    <td>Oxygen Sensor 5</td>
                                    <td>187</td>
                                    <td>187</td>
                                    <td>185</td>
                                </tr>
                            </tbody>
                        </table>
                    </small>
                </div>
            </div>
        </div>
        <div class="panel panel-purple" id="collapseEightPanel">
            <div class="panel-heading" role="tab" id="headingEight">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                        <span class="glyphicons glyphicons-directions" style="margin: 0px 15px 0px 0px;"></span>Dispatch
                    </a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                <div class="panel-body" id="dispatch_panel">
                    <div class="form-group">
                        <input class="form-control" id="Address" placeholder="-- Address --"><br />
                        <input class="form-control" id="City" placeholder="-- City, State, zip --">
                        <br />
                        <button class="btn btn-danger col-sm-offset-3" id="SubmitDispatch">Dispatch Vehicle</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <span class="glyphicons glyphicons-notes-2" style="margin: 0px 15px 0px 0px; font-size:1.2em; color: #000000;"></span>Map Event Log
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body" id="log_panel"></div>
            </div>
        </div>
    </div>
</div>