body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.blackbg {
    background-image: url(../Images/ambulance-knoxville.jpg);
    /* Background image is centered vertically and horizontally at all times */
    background-position: right center;
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
    background-attachment: inherit;
    /* This is what makes the background image rescale based
     on the container's size */
    background-size: contain;
    /* Set a background color that will be displayed
     while the background image is loading */
    background-color: #FFFFFF;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.loginLight {
    border-radius: 15px;
    background-image: -webkit-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -o-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#04519b), color-stop(60%, #044687), to(#033769));
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff04519b', endColorstr='#ff033769', GradientType=0);
    -webkit-filter: none;
    filter: none;
    color: #fff;
}

h4.headerWhite {
    color: #ffffff;
}

.whitebg {
    background-color: rgba(255, 255, 255, 1);
    padding: 15px;
}

.dataTableBG th {
    color: rgba(128, 128, 128, 1);
    background-color: rgb(26, 27, 27);
}

#map {
    /*background: #10096a;*/
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0px; /* adjust top margin to your header height */
    height: 95vh;
    z-index: 0;
}

#DispatchMap {
    height: 700px;
    padding-left: 0px;
    border: 1px solid black;
}

.border-right {
    border-right: 1px solid black;
}

.nav-pills > li.active > a {
    background-color: red;
}

#alertMap {
    /*background: #10096a;*/
    border: 1px solid black;
    display: block;
    position:fixed;
    height:350px;
    margin-top: 0px; /* adjust top margin to your header height */
    z-index: 0;
    padding-left: 0;
}